<div class="card">
  <h2 class="card__heading">{{heading}}</h2>
  
  <img class="card__thumbnail" src="/assets/images/themes/{{slug}}/thumbnail.jpg" />
  
  <h5 class="card__sub-heading">{{subHeading}}</h5>
  <p class="card__description">{{{@partial-block}}}</p>

  <a class="cta cta-primary" href="/themes/{{slug}}">More info</a>
  <a class="cta cta-secondary" href="https://gtdemos.kniffen.dev/{{slug}}/">Demo</a>
</div>